
 
/***************************
	jQuery UI tweak
****************************/

.ui-slider .ui-slider-handle
 {
	position:absolute;
    height: 110%;
    width: 10%;
}

body
{
	overflow:hidden;
}

.widget
{
	position:absolute;
	width:100%;
	height:100%;
	border: 5px solid rgba(255, 0, 0, .25);		
	box-sizing:border-box;
}

/***************************
	GRADIENT
****************************/

.wbGradH
{
	background: white; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(white, darkgray); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(white, darkgray); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(white, darkgray); /* For Firefox 3.6 to 15 */
	background: linear-gradient(white, darkgray); /* STD syntax */	
}
.wbGradV
{
	background: white; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(left,white, darkgray); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(right,white, darkgray); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(right,white, darkgray); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to right,white, darkgray); /* STD syntax */	
}

/***************************
	pPANEL
****************************/

/* .................................................. pMain 100/100 */

.wbpMain
{
	position:absolute;
	left:0%;
	top:0%;	
	width:100%;
	height:100%;
}

/* .................................................. pv2 vertical L50 R50*/

.wbpv2Left
{
	position:absolute;
	left:0%;
	top:0%;	
	width:50%;
	height:100%;
	
}
.wbpv2Right
{
	position:absolute;	
	left:50%;
	top:0%;
	width:50%;
	height:100%;
}

/* .................................................. pv3 L33 C34 R33  */
  
.wbpv3Left
{
	position:absolute;
	left:00%;
	top:0%;
	width:33%;
	height:100%;

}
.wbpv3Center
{
	position:absolute;
	left:33%;
	top:0%;
	width:34%;
	height:100%;
}
.wbpv3Right
{
	position:absolute;
	left:67%;
	top:0%;
	width:33%;
	height:100%;
}

/* .................................................. po2 t50 b50 */

.wbpo2Top
{
	position:absolute;	
	left:0%;
	top:0%;
	width:100%;
	height:50%;
}
.wbpo2Bottom
{
	position:absolute;
	left:0%;
	top:50%;
	width:100%;
	height:50%;
}

/* .................................................. po3 T33 M34 B33 */

.wbpo3Top
{
	position:absolute;
	left:0%;
	top:00%;
	width:100%;
	height:33%;
}
.wbpo3Middle
{
	position:absolute;
	left:0%;
	top:33%;
	width:100%;
	height:34%;
}
.wbpo3Bottom
{
	position:absolute;
	left:0%;
	top:67%;
	width:100%;
	height:33%;
}

/* .................................................. pnav L33 N70 */

.wbpNavVerticalLeft
{
	position:absolute;	
	left:00%;
	top:0%;
	width:30%;
	height:98%;
}
.wbpNavVerticalRight
{
	position:absolute;	
	left:30%;
	top:0%;
	width:70%;
	height:100%;
}

/* ..................................................  panel STD */

.wbpstdTop
{
	position:absolute;	
	left:0%;
	top:00%;
	width:100%;
	height:10%;
}
.wbpstdMiddle
{
	position:absolute;	
	left:0%;
	top:10%;
	width:100%;
	height:80%;
}
.wbpstdBottom
{
	position:absolute;	
	left:0%;
	top:90%;
	width:100%;
	height:10%;
}
.wbpstdLeft
{
	position:absolute;	
	left:00%;
	top:00%;
	width:20%;
	height:100%;
}
.wbpstdCenter
{
	position:absolute;	
	left:20%;
	top:0%;
	width:60%;
	height:100%;
}
.wbpstdRight
{
	position:absolute;	
	left:80%;
	top:0%;
	width:20%;
	height:100%;
}

/***************************
	SEMANTIC
****************************/

/* ..................................................  panel semantic STD */

.wbsstdTop
{
	position:absolute;		
	left:0%;
	top:00%;
	width:100%;
	height:10%;
}
.wbsstdMiddle
{
	position:absolute;		
	left:0%;
	top:10%;
	width:100%;
	height:80%;
}
.wbsstdBottom
{
	position:absolute;		
	left:0%;
	top:90%;
	width:100%;
	height:10%;
}
.wbsstdLeft
{
	position:absolute;		
	left:00%;
	top:00%;
	width:20%;
	height:100%;
}
.wbsstdCenter
{
	position:absolute;		
	left:20%;
	top:0%;
	width:60%;
	height:100%;
}
.wbsstdRight
{
	position:absolute;		
	left:80%;
	top:0%;
	width:20%;
	height:100%;
}

/* -------------------------------------- semantic title */

.wbpsstitle
{
	position:absolute;		
	left:0%;
	top:00%;
	width:100%;
	height:100%;
	text-align:center;
}
.wbpsstitleH1
{
	position:absolute;
	left:0%;
	top:00%;
	width:100%;
	text-align:center;
}
.wbpsstitleH3
{
	position:absolute;
	left:0%;
	top:33%;
	width:100%;
	text-align:center;
}
.wbpsstitleH6
{
	position:absolute;
	left:0%;
	top:66%;
	width:100%;
	text-align:center;
}

/* -------------------------------------- semantic main */

.wbpsmain
{
	position:absolute;	
	left:1%;
	top:01%;
	width:97%;
	height:97%;
	border:3px double orange;
}

/* -------------------------------------- semantic article */

.wbpsarticle
{
	position:absolute;	
	left:0%;
	top:00%;
	width:100%;
	height:100%;
	border:1px solid red;
}
.wbpsarticlet0
{
	position:absolute;		
	left:00%;
	top:00%;
	width:99%;
	height:09%;
}
.wbpsarticles1
{
	position:absolute;		
	left:10%;
	top:10%;
	width:89%;
	height:29%;
	border:1px ridge ivory;
}
.wbpsarticles2
{
	position:absolute;		
	left:10%;
	top:40%;
	width:89%;
	height:29%;
	border:1px ridge ivory;
}
.wbpsarticles3
{
	position:absolute;		
	left:10%;
	top:70%;
	width:89%;
	height:29%;
	border:1px ridge ivory;
}


/* -------------------------------------- semantic details */

.wbpsdetailsDIV
{
	position:absolute;	
	width:150px;
	height:30px;
	background:transparent;
}

.wbpsdetails
{
	position:absolute;	
	left:0%;
	top:00%;
	width:95%;
	height:95%;
	color:blue;
	border-bottom: 1px solid blue;
}

/* -------------------------------------- semantic nav */

.wbpsnavDIV
{
	position:absolute;		
	width:150px;
	height:100px;
}

.wbpsnav
{
	position:absolute;		
	left:0%;
	top:00%;
	width:95%;
	height:95%;
}

.wbpsnavlink
{
	position:absolute;	
}

/* -------------------------------------- semantic aside */

.wbpsaside
{
	position:absolute;		
	left:1%;
	top:01%;
	width:97%;
	height:97%;
	border:1px double white;
	border-radius: 25px;	
}

/* -------------------------------------- semantic figure */

.wbpsfigureDIV
{
	position:absolute;		
	left:0%;
	top:00%;
	width:300px;
	height:200px;
}

.wbpsfigure
{
	position:absolute;		
	left:0%;
	top:00%;
	width:100%;
	height:100%;
	margin-left:-00px;

}

.wbpsfigure_img
{
	position:absolute;		
	left:0%; 
	top:0%; 
	width: 99%; 
	height: 85%;
}

.wbpsfigure_caption
{
	position:absolute;
	left:0%; 
	top:85%; 
	width: 99%; 
	height: 14%;
}

/* -------------------------------------- semantic address */

.wbpsaddress
{
	position:absolute;	
	width:180px;
	height:140px;
	background:ivory;
	font-style: italic;
	border-style: double;
}

.wbpsaddressHR
{
	position:absolute;
	left:85%;
	top:0px;
	width:10px;
	height:10px; 
}

/* -------------------------------------- HR */

.wbpsHR
{
	min-height:10px;	
	max-height:10px;
	height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #8c8c8c inset;
}

/***************************
	jQuery UI
****************************/

/* .................................................. jqui progress Bar */


.wbjqProgressBarDIV
{
	position:absolute;
	width:200px;
	height:30px;
}

.wbjqProgressBar
{
	position:absolute;
	width:100%;
	height:100%;
}

/* .................................................. jqui Check (Multi) Box  */

.wbjqCheckBoxDIV
{
	position:absolute;
	top:0%;
	left:0%;	
	width:240px;
	height:140px;
}

.wbjqCheckBox
{
	position:absolute;	
	top:0%;
	left:0%;
	width:85%;
	height:85%;
}

/* .................................................. jqui Tabs */

.wbjqTabs
{
	position:absolute;	
	top:0%;
	left:0%;	
	width:100%;
	height:100%;
}


/* .................................................. jqui Accordion */

.wbjqAccordionDIV
{
	position:absolute;	
	top:0%;
	left:0%;	
	width:100%;
	height:100%;
}

/* .................................................. jqui Button */

.wbjqButtonDIV
{
	position:absolute;	
	top:0%;
	left:0%;		
	width:200px;
	height:40px;
}

.wbjqButton
{
	position:absolute;	
	top:0%;
	left:0%;	
	width:100%;
	height:100%;
}

/* .................................................. jqui Button Icon */

.wbjqButtonDIVicon
{
	position:absolute;	
	top:0%;
	left:0%;		
	width:32px;
	height:32px;
	min-width:16px;
	min-height:16px;
	max-width:48px;
	max-height:48px;
}

.wbjqButtonIcon
{
	position:absolute;	
	top:5%;
	left:5%;	
	width:90%;
	height:90%;
}

/* .................................................. jqui Slider H */

.wbjqSliderHDIV
{
	position:absolute;	
	top:0%;
	left:0%;	
	width:200px;
	height:20px;
}

.wbjqSliderH
{
	position:absolute;	
	top:0%;
	left:0%;	
	width:100%;
	height:95%;
}

/* .................................................. jqui Slider V */

.wbjqSliderVDIV
{
	position:absolute;	
	top:0%;
	left:0%;	
	width:20px;
	height:200px;
}

.wbjqSliderV
{
	position:absolute;	
	top:0%;
	left:0%;	
	width:95%;
	height:100%;
}

/* .................................................. jqui AutoComplete */

.wbjqAutoCompleteDIV
{
	position:absolute;	
	top:0%;
	left:0%;	
	width:120px;
	height:30px;
	max-height:30px;
}

.wbjqAutoComplete
{
	position:absolute;	
	top:0%;
	left:0%;	
	width:95%;
	height:90%;
}

/* .................................................. jqui Data Picker */

.wbjqDataPickerDIV
{
	position:absolute;	
	top:0%;
	left:0%;	
	width:100px;
	height:30px;
	max-height:30px;
	max-width:120px;
	min-width:80px;	
}

.wbjqDataPicker
{
	position:absolute;	
	top:0%;
	left:0%;	
	width:95%;
	height:95%;
}

/* .................................................. jqui Spinner  */

.wbjqSpinnerDIV
{
		
	width:200px;
	height:40px;
	max-height:40px;
}

.wbjqSpinner
{
	
	width:75%;
	height:95%;
	border:1px double orange;
}

*/
/***************************
 Mobile
****************************/

/* .................................................. mPage */


.wbmPage
{
	position:absolute;	
	top:0%;
	left:0%;	
	width:100%;
	height:100%;
}

.wbmPageHeader
{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:10%;
	overflow: hidden;
	background:silver;
}

.wbmPageBody
{
	position:absolute;		
	left:0%;
	top:10%;
	width:100%;
	height:80%;
	overflow-y: scroll;
	background:ivory;
}

.wbmPageFooter
{
	position:absolute;		
	left:0%;
	top:90%;
	width:100%;
	height:10%;
	overflow: hidden;
	background:silver;	
}

/***************************
	BLOG
****************************/

/* .................................................. p blog T A Nav */

.wbpBlogTitle
{
	position:absolute;		
	left:33%;
	top:00%;
	width:67%;
	height:20%;
}
.wbpBlogArticle
{
	position:absolute;		
	left:33%;
	top:20%;
	width:67%;
	height:80%;
	overflow-y:scroll;
}
.wbpBlogNav
{
	position:absolute;		
	left:0%;
	top:0%;
	width:33%;
	height:100%;
}


/***************************
	DIV
****************************/


.wbDIV 
{
	position:absolute;		
	background: transparent;
	background-color: transparent;
	border-width: thin;
	border-style:1px solid darkgray;
	width:300px;
	height:300px;
}

/* .................................................. DIV pv2 vertical L50 R50*/

.wbDIV2Left
{
	position:absolute;		
	top:0%;
	left:0%;
	width:50%;
	height:100%;
	border:1px solid darkgray;
}
.wbDIV2Right
{
	position:absolute;		
	top:0%;	
	left:50%;
	width:50%;
	height:100%;
 	border:1px solid darkgray;
}


/* .................................................. po2 t50 b50 */

.wbDIVo2Top
{
	position:absolute;		
	left:0%;
	top:0%;
	width:100%;
	height:50%;
	border:1px solid darkgray;	
}
.wbDIVo2Bottom
{
	position:absolute;		
	left:0%;
	top:50%;
	width:100%;
	height:50%;
	border:1px solid darkgray;	
}

/* .................................................. DIV pv2 vertical L34 R66 , L66 R34 */

.wbDIV2Left34
{
	position:absolute;		
	top:0%;
	left:0%;
	width:34%;
	height:100%;
	border:1px solid darkgray;
}
.wbDIV2Right66
{
	position:absolute;		
	top:0%;	
	left:34%;
	width:66%;
	height:100%;
 	border:1px solid darkgray;
}

.wbDIV2Left66
{
	position:absolute;		
	top:0%;
	left:0%;
	width:66%;
	height:100%;
	border:1px solid darkgray;
}
.wbDIV2Right34
{
	position:absolute;		
	top:0%;	
	left:66%;
	width:34%;
	height:100%;
 	border:1px solid darkgray;
}

/* .................................................. DIV Top Bottom 34 66 , 66 34 */

.wbDIVv2Top34
{
	position:absolute;		
	left:0%;
	top:0%;
	width:100%;
	height:34%;
	border:1px solid darkgray;	
}
.wbDIVv2Bottom66
{
	position:absolute;		
	left:0%;
	top:34%;
	width:100%;
	height:66%;
	border:1px solid darkgray;	
}

.wbDIVv2Top66
{
	position:absolute;		
	left:0%;
	top:0%;
	width:100%;
	height:66%;
	border:1px solid darkgray;	
}
.wbDIVv2Bottom34
{
	position:absolute;		
	left:0%;
	top:66%;
	width:100%;
	height:34%;
	border:1px solid darkgray;	
}

/* .................................................. po2 t50 b50 */

.wbDIVo2Top34
{
	position:absolute;		
	left:0%;
	top:0%;
	width:100%;
	height:50%;
	border:1px solid darkgray;	
}
.wbDIVo2Bottom66
{
	position:absolute;		
	left:0%;
	top:50%;
	width:100%;
	height:50%;
	border:1px solid darkgray;	
}

/* .................................................. console*/

.wbconsoleDIV
{
	position:absolute;		
	left:0%;
	top:0%;
	width:95%;
	height:95%;
}

.wbconsole
{
	position:absolute;		
	width:100%;
	height:95%;
	background:black;
	background-color:black;
	color:green;
	overflow-y:scroll;
}

/***************************
	FORM
****************************/

/* .................................................. f input */

.wbfinputDIV
{
	position:absolute;		
	left:0%;
	top:0%;	
	width:150px;
	height:25px;
}
.wbfinput
{
	position:absolute;		
	left:0%;
	top:0%;	
	width:95%;
	height:90%;
}

/* .................................................. field set */

.wbfsetDIV
{
	position:absolute;
	left:0%;
	top:0%;	
	width:300px;
	height:200px;
	background:transparent;
	 
}
.wbfset
{
	position:absolute;
	left:0%;
	top:0%;
	width:90%;
	height:90%;
	background:transparent;
	border:1px solid white;
}

.wbfsetLegend
{
	position:absolute;
	left:0%;
	top:0%;
	margin-top:-25px;
	width:80%;
	height:20px;
	background:transparent;
 	border-style:none;
}


/* .................................................. f select */
 
.wbfselectOUTER
{
	position:absolute;
	left:0%;
	top:0%;	
	width:150px;
	height:30px;	
}

.wbfselectINNER
{
	position:absolute;
	left:0%;
	top:0%;	
	width:90%;
	height:100%;
	min-width: 100%;
	max-width: 100%;
}
 
/* .................................................. f combobox */

.wbfcomboboxDIV
{
	position:absolute;
	left:0%;
	top:0%;	
	width:150px;
	height:25px;
}
.wbfcomboboxINPUT
{
	position:absolute;
	left:0%;
	top:0%;
	width:100%;
	height:100%;
}

/* .................................................. f button  */

.wbBUTTON_OUTER
{
	position:absolute;
	left:0%;
	top:0%;		
	background:silver;
	width:130px;
	height:40px;
	text-align: center ;
		
}

.wbBUTTON_INNER 
{
	position:absolute;
	left:0%;
	top:0%;		
	background:lightgray;
	width:100%;
	height:100%;
}

/* .................................................. form get/post 100/100 */

.wbform
{
	position:absolute;	
	left:0%;
	top:0%;
	width:100%;
	height:100%;
	border-style: groove;
}

/* .................................................. f label */
.wbflabel
{
	position:absolute;	
	left:0%;
	top:0%;	
	width:100px;
	height:30px;
	background:transparent;
}

/* .................................................. f image*/

.wbfimageDIV
{
	position:absolute;	
	left:0%;
	top:0%;	
	width:300px;
	height:300px;
}
.wbfimage
{
	position:absolute;	
	left:0%;
	top:0%;	
	width:95%;
	height:95%;
}

/* .................................................. f textarea */
.wbftextareaDIV
{
	position:absolute;	
	left:0%;
	top:0%;	
	width:100%;
	height:100%;
}
.wbftextarea
{
	position:absolute;	
	left:0%;
	top:0%;	
	width:98%;
	height:98%;
	resize: none;
	overflow:auto;
}

/***************************
	CANVAS
****************************/

/* .................................................. Canvas HTML5*/

.wbCanvasTransparent
{
	background-color:transparent;
}

.wbCanvas
{
	position:absolute;	
	left:0%;
	top:0%;		
	width:100%;
	height:100%;
}

/* .................................................. Canvas Chart */

.wbCanvasChart
{
	position:absolute;	
	left:0%;
	top:0%;		
	width:100%;
	height:100%;
}

/* .................................................. Canvas Two */

.wbCanvasTwo
{
	position:absolute;	
	left:0%;
	top:0%;		
	width:100%;
	height:100%;
}

/* .................................................. Canvas Three */

.wbCanvasThree
{
	position:absolute;	
	left:0%;
	top:0%;		
	width:100%;
	height:100%;
}

/* .................................................. Super Canvas Three */

.wbSuperCanvas
{
	position:absolute;
	left:0%;
	top:0%;
	width:100%;
	height:100%;
}

.wbSuperCanvasInner
{
	position:absolute;
	top:0%;
	left:0%;
	width:100%;
	height:100%;	
	background-color:transparent;
}


/***************************
	MEDIA
****************************/

/* .................................................. audio */

.wbAudioDIV
{
	position:absolute;
	top:0%;
	left:0%;	
	width:200px;
	height:32px;
	max-height:32px;
}

.wbAudio
{
	position:absolute;
	top:0%;
	left:0%;	
	width:100%;
	height:100%;
}

/* .................................................. video */

.wbVideoDIV
{
	position:absolute;
	top:0%;
	left:0%;	
	width:400px;
	height:200px;
}

.wbVideo
{
	position:absolute;
	top:0%;
	left:0%;	
	width:100%;
	height:100%;
}


/* .................................................. poster */

.wbPosterDIV
{
	position:absolute;
	top:0%;
	left:0%;	
	width:400px;
	height:200px;

}

.wbPoster
{
	position:absolute;
	top:0%;
	left:0%;	
	width:100%;
	height:100%;
}


/***************************
	EMBED
****************************/

/* .................................................. pdf */

.wbpdfDIV
{
	position:absolute;
	top:0%;
	left:0%;	
	width:200px;
	height:400px;
}

.wbpdf
{
	position:absolute;
	top:0%;
	left:0%;	
	width:100%;
	height:100%;
}


/* .................................................. youtube */

.wbyoutubeDIV
{
	position:absolute;
	top:0%;
	left:0%;	
	width:300px;
	height:300px;
}

.wbyoutube
{
	position:absolute;
	top:0%;
	left:0%;	
	width:100%;
	height:100%;
}

/* .................................................. embed */

.wbembedDIV
{
	position:absolute;
	top:0%;
	left:0%;	
	width:300px;
	height:300px;
}

.wbembed
{
	position:absolute;
	top:0%;
	left:0%;	
	width:100%;
	height:100%;
}

/* .................................................. Anchor */

.wbAnchorTop
{
	position:absolute;
	top:0%;
	left:0%;	
	width:150px;
	height:32px;
	background-color:transparent;
	background:transparent;
    margin-top:-25px;	
}


.wbAnchorBottom
{
	position:absolute;
	top:50%;
	left:00%;	
	width:150px;
	height:32px;
	background-color:transparent;
	background:transparent;
	margin-top:+25px;	
}

/* .................................................. href */

.wbHref
{
	position:absolute;
	top:0%;
	left:0%;	
	width:150px;
	height:32px;
 
}

/* ................................................... Area Select */
.wbAreaSelectDiv
{
	position:absolute;top:0%;left:0%;width:100%;height:100%;z-index:1000;
}

#wbAreaSelectContainer
{
	position:absolute;top:0%;left:0%;width:100%;height:100%;z-index:1000;
}














 